@charset "UTF-8";

/* 共通 ここから */
:root {
  --white: #FFFFFF;
  --light-gray: #DDDDDD;
  --dark-gray: #333333;
  --medium-gray: #CCCCCC;
  --pink: #F23397;
  --light-background: #F5F5F5;
  --light-background-alt: #F5F5F5;
  --bright-pink: #F11F8D;
  --blue: #005BAC;
  --black-opacity: #00000029;
  --light-pink: #FF5555;
  --bright-blue: #0271E0;
  --soft-blue: #53A2F0;
  --very-light-blue: #F2F9FF;
  --light-gray-alt: #F0F0F0;
  --dark-gray-opacity: #33333380;
  --teal: #3AC8AD;
  --orange: #F6AA00;
  --green: #77CB33;
  --st-anchor-active-primary-color:  #009EF7;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
  width: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: var(--dark-gray);
  letter-spacing: 0;
  line-height: 1.75;
  background-color: var(--white);
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 768px) and (max-width: 1920px) {
  html, body {
    width: 100%;
    min-width: 1920px;
  }
}

@media(min-width:1920px) {
  html, body {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
  }
}

a {
  text-decoration:none;
}
ul {
  list-style: none;
}
/* 共通 ここまで */

/* #header ここから */
#header {
  width: 100%;
  position: sticky;
  z-index: 100;
  top: 0;
  height: 70px;
  display: flex;
  background-color: var(--white);
  box-shadow: 0px 2px 8px var(--black-opacity);
}
@media(min-width: 768px) {
  #header {
    height: 101px;
  }
}

#header .header__title {
    padding-left: 1rem;
    padding-right: 9.875rem;
    margin: 0;
}
@media(min-width: 768px) {
  #header .header__title {
    padding-top: 28px;
    padding-left: 19.79%;
    padding-right: 8.23%;
  }
}

#header .header__title a {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.5;
  color: var(--blue);
}
@media(min-width: 768px) {
  #header .header__title a {
    display: block;
    font-size: 2rem;
    line-height: 1.125;
  }
}

@media(max-width: 767px) {
  #header #menu {
    display: block;
    position: fixed;
    z-index: 1000;
    top: 70px;
    right: -120%;
    width: 100%;
    height: 331px;
    background-color: var(--blue);
    transition: right 0.2s ease-in-out; /* スライドアニメーションを追加 */
  }
  #header #menu.panelactive {
    right: 0;
  }
  #header #menu.panelinactive {
    right: -120%;
  }

  #header #menu li {
    padding-top: 20px;
    padding-bottom: 21px;
    width: 89.33%;
    margin: 0 auto;
    border-bottom: var(--white) 1px solid;
  }
  #header #menu li a {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.125rem;
    color: var(--white);
    line-height: 1.44;
  }
  #header #menu li svg {
    margin-right: 0.75rem;
  }
  header #menu .menu__button {
    width: 93.33%;
    height: 66px;
    display: block;
    background-color: var(--white);
    color: var(--blue);
    border-radius: 33px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.44;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 32px auto;
  }
  #header .openbtn {
    position: fixed;
    z-index: 1001;
    background: var(--blue);
    cursor: pointer;
    width: 70px;
    height:70px;
    right: 0;
    top: 0;
    padding-top: 22px;
    padding-left: 20px;
  }
}

@media(min-width: 768px) {
  #header .openbtn {
    display: none;
  }
}
@media(min-width: 768px) {
  #header #menu {
    display: flex;
    gap: 3rem;
  }
  #header #menu ul {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }
  #header #menu ul li a {
    cursor: pointer;
    display: block;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 1.8;
    color: var(--dark-gray);
    padding-top: 28px;
  }
  #header #menu ul li a:hover {
    color: var(--blue);
  }
  #header #menu .menu__button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 1.8;
    width: 17.625rem;
    height: 61px;
    background: transparent linear-gradient(90deg, var(--bright-blue) 0%, var(--soft-blue) 100%) 0% 0% no-repeat padding-box;
    border-radius: 31px;
    color: var(--white);
    text-align: center;
    transition: all .3s;
    margin-top: 16px;
  }
  #header #menu .menu__button:hover {
    opacity: 0.7;
  }
}

/* #header ここまで */

/* main-content ここから */
.main-content {
  position: relative;
  z-index: 1;
}

/* #main-visual ここから*/

#main-visual .main-visual__wrapper {
 background-image: url('../image/mv_sp.png');
 background-size: cover;
 width: 100%; /* フルウィンドウ幅でスケーリング */
 aspect-ratio: 375 / 250; /* アスペクト比を375:250に設定 */
}

@media(min-width: 768px) {
  #main-visual .main-visual__wrapper {
    background-image: url('../image/mv_pc.png');
    background-size: cover;
    aspect-ratio: 1920 / 651;
   }
}

#main-visual .main-visual__wrapper .main-visual__title {
  display: flex;
  padding-left: calc(100vw * 16 / 375);
  padding-top: calc(100vw * 35 / 375);
}

@media(min-width:768px) {
  #main-visual .main-visual__wrapper .main-visual__title {
    padding-left: calc(100vw * 410 / 1920);
    padding-top: calc(100vw * 104 / 1920);
  }
}

#main-visual .main-visual__wrapper .main-visual__title .main-visual__frame-left {
  width: 24px;
  background-image: url('../image/mv_frame_left_sp.png');
  background-size: cover;
  aspect-ratio: 24 / 69;
}

#main-visual .main-visual__wrapper .main-visual__title .main-visual__frame-right {
  width: 24px;
  background-image: url('../image/mv_frame_right_sp.png');
  background-size: cover;
  aspect-ratio: 24 / 69;
}

#main-visual .main-visual__wrapper .main-visual__title .main-visual__elite-university-wrapper {
  display: inline-block;
  width: 6.1875rem;
  height: 67px;
  position: relative;
}

#main-visual .main-visual__wrapper .main-visual__title .main-visual__elite-university .pass {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.6875rem;
  text-align: left;
  line-height: 1.45;
  color: var(--dark-gray);
}

#main-visual .main-visual__wrapper .main-visual__title .numberone {
  position: relative;
  left: calc(100vw * 16 / 375);
  top: calc(-100vw * 8 / 375);
}

#main-visual .main-visual__wrapper .main-visual__title .numberone .number {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
  color: var(--bright-pink);
  font-size: 1.5625rem;
  line-height: 2.2;
}

#main-visual .main-visual__wrapper .main-visual__title .numberone .one {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
  color: var(--bright-pink);
  font-size: 2.25rem;
  line-height: 1.53;
}

#main-visual .main-visual__wrapper .main-visual__guidance-wrapper {
  margin-left: calc(100vw * 16 / 375);
  margin-top: calc(100vw * 21 / 375);
}

#main-visual .main-visual__wrapper .main-visual__guidance-wrapper .main-visual__high-school-student{
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 2.57;
  color: var(--dark-gray);
}

#main-visual .main-visual__wrapper .main-visual__guidance-wrapper .main-visual__entry {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5625rem;
  color: var(--blue);
  text-align: left;
  line-height: 1.44;
}

@media(min-width:768px) {
  #main-visual .main-visual__wrapper .main-visual__title .main-visual__frame-left {
    width: 52.6px;
    background-image: url('../image/mv_frame_left_pc.png');
    background-size: cover;
    aspect-ratio: 52.6 / 150;
  }

  #main-visual .main-visual__wrapper .main-visual__title .main-visual__frame-right {
    width: 52.6px;
    background-image: url('../image/mv_frame_right_pc.png');
    background-size: cover;
    aspect-ratio: 52.6 / 150;
    position: relative;
    left: calc(100vw * 100 / 1920);
  }

  #main-visual .main-visual__wrapper .main-visual__title .main-visual__elite-university-wrapper {
    left: calc(-100vw * 10 / 1920);
  }

  #main-visual .main-visual__wrapper .main-visual__title .main-visual__elite-university .pass {
    font-size: 1.25rem;
    line-height: 1.45;
    display: inline-block;
    width: 11.25rem;
  }

  #main-visual .main-visual__wrapper .main-visual__title .numberone {
    left: calc(100vw * 32 / 1920);
    top: calc(100vw * 8 / 1920);
  }

  #main-visual .main-visual__wrapper .main-visual__title .numberone .number {
    font-size: 3.375rem;
    line-height: 1.5;
  }

  #main-visual .main-visual__wrapper .main-visual__title .numberone .one {
    font-size: 74px;
    line-height: 1.5;
  }

  #main-visual .main-visual__wrapper .main-visual__guidance-wrapper {
    margin-left: calc(100vw * 410 / 1920);
    margin-top: calc(100vw * 40 / 1920);
  }

  #main-visual .main-visual__wrapper .main-visual__guidance-wrapper .main-visual__high-school-student {
    font-size: 2.0625rem;
    line-height: 1.09;
  }

  #main-visual .main-visual__wrapper .main-visual__guidance-wrapper .main-visual__entry {
    font-size: 3.75rem;
    line-height: 1.42;
  }
}

#main-visual .main-visual__buttons {
  margin-top: 24px;
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-visual .main-visual__buttons a {
  display: inline-block;
  cursor: pointer;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  line-height: 2.25;
  color: var(--white);
  width: 15.625rem;
  height: 48px;
  text-align: center;
  padding-top: 6px;
  border-radius: 25px;
  transition: all .3s;
}

#main-visual .main-visual__buttons a:hover {
  opacity: 0.7;
}

#main-visual .main-visual__buttons a.main-visual__buttons-inquiry {
  background-color: var(--green);
}

#main-visual .main-visual__buttons a.main-visual__buttons-freetrial {
  background-color: var(--orange);
}

#main-visual .main-visual__buttons a.main-visual__buttons-request {
  background-color: var(--teal);
}

@media (min-width: 768px) {
  #main-visual .main-visual__buttons {
    flex-direction: row;
    margin-top: 0;
    margin-top: -37.5px;
    gap: 2.5rem;
  }
  #main-visual .main-visual__buttons a {
    width: 21.25rem;
    height: 75px;
    border-radius: 38px;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 20px;
  }
}

/* #main-visual ここまで*/

/* #reason ここから*/
#reason h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.75rem;
  line-height: 1.29;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 17px;
  color: var(--dark-gray);
}

#reason h2 .reason__three {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: .9;
  color: var(--bright-pink);
}

@media (min-width: 768px) {
  #reason h2 {
    font-size: 2.25rem;
    line-height: 1;
    margin-top: 72px;
  }
  #reason h2 .reason__three {
    font-size: 3.375rem;
    line-height: .67;
  }
}

#reason .reason__content, #reason .reason__content-02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#reason .reason__content-title {
  padding-left: 1rem;
  padding-right: 1rem;
}

#reason .reason__photo_01 {
  width: calc(100vw * 343 / 375);
  aspect-ratio: 343 / 220;
  background-image: url('../image/reason_photo_01_sp.png');
  background-size: cover;
  border-radius: 12px;
}

#reason .reason__photo_02 {
  width: calc(100vw * 343 / 375);
  aspect-ratio: 343 / 220;
  background-image: url('../image/reason_photo_02_sp.png');
  background-size: cover;
  border-radius: 12px;
}

#reason .reason__photo_03 {
  width: calc(100vw * 343 / 375);
  aspect-ratio: 343 / 220;
  background-image: url('../image/reason_photo_03_sp.png');
  background-size: cover;
  border-radius: 12px;
}

#reason .reason__wrapper .reason__content h3, #reason .reason__wrapper .reason__content-02 h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--bright-pink);
}

#reason .reason__wrapper .reason__content h3, #reason .reason__wrapper .reason__content-02 h3 {
  padding-top: 8px;
}

#reason .reason__wrapper .reason__content .reason__title-number, #reason .reason__wrapper .reason__content-02 .reason__title-number {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 3rem;
  line-height: 1;
  color: var(--bright-pink);
}

#reason .reason__wrapper .reason__content h4, #reason .reason__wrapper .reason__content-02 h4 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.8;
  padding-bottom: 12px;
}

#reason .reason__wrapper .reason__content h4, #reason .reason__wrapper .reason__content-02 h4 {
  padding-bottom: 12px;
}

#reason .reason__wrapper .reason__content p, #reason .reason__wrapper .reason__content-02 p {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  text-align: left;
}

#reason .reason__wrapper .reason__content p, #reason .reason__wrapper .reason__content-02 p {
  padding-bottom: 36px;
}

@media (min-width: 768px) {
  #reason .reason__content {
    flex-direction: row;
    gap: calc(100vw * 40 / 1920);
    align-items:flex-start;
    margin-top: 32px;
  }

  #reason .reason__content-02 {
    flex-direction: row-reverse;
    gap: calc(100vw * 40 / 1920);
    margin-top: 48px;
  }

  #reason .reason__content-title {
    padding-left: 0;
    padding-right: 0;
  }

  #reason .reason__photo_01 {
    width: calc(100vw * 560 / 1920);
    aspect-ratio: 560 / 346;
    background-image: url('../image/reason_photo_01_pc.png');
    background-size: cover;
    border-radius: 12px;
  }

  #reason .reason__photo_02 {
    width: calc(100vw * 560 / 1920);
    aspect-ratio: 560 / 346;
    background-image: url('../image/reason_photo_02_pc.png');
    background-size: cover;
    border-radius: 12px;
  }

  #reason .reason__photo_03 {
    width: calc(100vw * 560 / 1920);
    aspect-ratio: 560 / 346;
    background-image: url('../image/reason_photo_03_pc.png');
    background-size: cover;
    border-radius: 12px;
  }

  #reason .reason__wrapper .reason__content h3, #reason .reason__wrapper .reason__content-02 h3 {
    font-size: 1.75rem;
    line-height: 1.29;
    margin-top: 0;
    margin-bottom: 0;
  }

  #reason .reason__wrapper .reason__content h4, #reason .reason__wrapper .reason__content-02 h4 {
    padding-bottom: 20px;
    font-size: 1.5rem;
    line-height: 1.75;
    width: calc(100vw * 560 / 1920);
  }

  #reason .reason__wrapper .reason__content-02 h4 {
    display: inline-block;
    width: calc(100vw * 560 / 1920);
  }

  #reason .reason__wrapper .reason__content p {
    line-height: 1.75;
    display: inline-block;
    width: calc(100vw * 560 / 1920);
  }
  #reason .reason__wrapper .reason__content-02 p {
    line-height: 1.75;
    width: calc(100vw * 560 / 1920);
  }
}

/* #reason ここまで*/

/* .entry ここから */
.entry {
  background-color: rgba(255, 85, 85, 0.1); /* 10%の不透明度 */
  margin-bottom: 64px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.entry p {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--dark-gray);
  font-size: 1rem;
  line-height: 1.75;
  width: 19.0625rem;
  margin: 0 auto;
}
.entry a {
  cursor: pointer;
  display: inline-block;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.8;
  width: 19.0625rem;
  height: 69px;
  background: transparent linear-gradient(90deg, var(--bright-blue) 0%, var(--soft-blue) 100%) 0% 0% no-repeat padding-box;
  border-radius: 35px;
  color: var(--white);
  text-align: center;
  transition: all .3s;
  margin-top: 12px;
  padding-top: 16px;
  margin-left: auto;
}

@media(min-width:768px) {
  .entry {
    padding-top: 56px;
    padding-bottom: 77px;
    margin-top: 72px;
    margin-bottom: 72px;
  }
  .entry p {
    width: calc(100vw * 400 / 1920);
    line-height: 2.63;
  }
  .entry a {
    width: calc(100% * 360 / 1920);
    height: 75px;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-top: 20px;
    border-radius: 38px;
  }
}
/* .entry ここまで */

/* #course ここから */
#course {
  text-align: center;
  margin-bottom: 63px;
}

@media(min-width:768px) {
  #course {
    margin-bottom: 72px;
  }
}

#course h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--dark-gray);
  font-size: 1.75rem;
  line-height: 1.29;
  margin-bottom: 21px;
}

@media(min-width:768px) {
  #course h2 {
    font-size: 2.25rem;
    line-height: 1;
    margin-bottom: 32px;
  }
}

.st-theme-elite {
  border: none;
}

.st-theme-elite>.nav {
  border: none;
  gap: 0.9375rem;
}

.st-theme-elite>.nav .nav-link.active {
  background-color: var(--very-light-blue);
}
.st-theme-elite>.nav .nav-link {
  background-color: var(--light-gray-alt);
  border: none;
}

.st-theme-elite>.nav .nav-link {
  display: inline-block;
  width: 10.25rem;
  height: 66px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding-top: 16px;
}

.st-theme-elite>.nav .nav-link.active {
  display: inline-block;
  width: 10.25rem;
  height: 66px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding-top: 16px;
}

.st>.tab-content {
  background-color: var(--very-light-blue);
}

#nav-row {
  flex-direction: row !important;
}

.st-theme-elite>.nav .nav-link.active .course__title {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--dark-gray);
  font-size: 1.125rem;
  line-height: 2;
  text-align: center;
}
.st-theme-elite>.nav .nav-link .course__title {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--dark-gray-opacity);
  font-size: 1.125rem;
  line-height: 2;
  text-align: center;
}

@media(min-width:768px) {
  #course .nav-width {
    width: 72.5rem;
    margin: 0 auto;
  }
  #course .tab-content-width {
    width: 72.5rem;
    margin: 0 auto;
  }

  .st-theme-elite>.nav {
    gap: 2.1875rem;
  }

  .st-theme-elite>.nav .nav-link.active .course__title {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .st-theme-elite>.nav .nav-link .course__title {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .st-theme-elite>.nav .nav-link {
    padding-top: 20px;
    width: 35rem;
    height: 75px;
  }
  .st-theme-elite>.nav .nav-link.active {
    padding-top: 20px;
    width: 35rem;
    height: 75px;
  }
}

.st>.tab-content>.tab-pane {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 28px;
  padding-bottom: 56px;
}

@media(min-width:768px) {
  .st>.tab-content>.tab-pane {
    padding: 32px 2rem;
  }
}

#course .course__parental-wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

#course .course__wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

#course .course__content {
  position: relative;
}

#course .course__photo-01,#course .course__photo-02,#course .course__photo-03,#course .course__photo-04,#course .course__photo-05,#course .course__photo-06,#course .course__photo-07,#course .course__photo-08 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 220px;
  border-radius: 12px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
}

#course .course__photo-01::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url('../image/course_photo_01_sp.png');
  background-size: cover;
}

#course .course__photo-02::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url('../image/course_photo_02_sp.png');
  background-size: cover;
}

#course .course__photo-03::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url('../image/course_photo_03_sp.png');
  background-size: cover;
}

#course .course__photo-04::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url('../image/course_photo_04_sp.png');
  background-size: cover;
}

#course .course__photo-05::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url('../image/course_photo_05_sp.png');
  background-size: cover;
}

#course .course__photo-06::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url('../image/course_photo_06_sp.png');
  background-size: cover;
}

#course .course__photo-07::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url('../image/course_photo_07_sp.png');
  background-size: cover;
}

#course .course__photo-08::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url('../image/course_photo_08_sp.png');
  background-size: cover;
}

#course .course__pane-title {
  text-align: left;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--dark-gray);
  font-size: 1.25rem;
  line-height: 1.8;
}

#course .course__pane-title svg {
  margin-left: 0.5rem;
}

@media(min-width:768px) {
  #course .course__parental-wrapper {
    gap: 40px;
  }

  #course .course__wrapper {
    flex-direction: row;
    gap: 31px;
  }

  #course .course__photo-01,#course .course__photo-02,#course .course__photo-03,#course .course__photo-04,#course .course__photo-05,#course .course__photo-06,#course .course__photo-07,#course .course__photo-08 {
    max-width: 532px;
    width: 532px;
    height: 329px;
    border-radius: 12px;
    margin-bottom: 16px;
  }
  #course .course__photo-01::after {
    background-image: url('../image/course_photo_01_pc.png');
    transition: all .3s ease-out;
  }

  #course .course__photo-02::after {
    background-image: url('../image/course_photo_02_pc.png');
    transition: all .3s ease-out;
  }

  #course .course__photo-03::after {
    background-image: url('../image/course_photo_03_pc.png');
    transition: all .3s ease-out;
  }

  #course .course__photo-04::after {
    background-image: url('../image/course_photo_04_pc.png');
    transition: all .3s ease-out;
  }

  #course .course__photo-05::after {
    background-image: url('../image/course_photo_05_pc.png');
    transition: all .3s ease-out;
  }

  #course .course__photo-06::after {
    background-image: url('../image/course_photo_06_pc.png');
    transition: all .3s ease-out;
  }

  #course .course__photo-07::after {
    background-image: url('../image/course_photo_07_pc.png');
    transition: all .3s ease-out;
  }

  #course .course__photo-08::after {
    background-image: url('../image/course_photo_08_pc.png');
    transition: all .3s ease-out;
  }

  #course .course__photo-01:hover::after,#course .course__photo-02:hover::after,#course .course__photo-03:hover::after,#course .course__photo-04:hover::after,#course .course__photo-05:hover::after,#course .course__photo-06:hover::after,#course .course__photo-07:hover::after,#course .course__photo-08:hover::after {
    cursor: pointer;
    opacity: .7;
    transform: scale(1.2);
  }

  #course .course__pane-title svg {
    margin-left: 0.7312rem;
  }

}
/* #course ここまで */

/* #fees ここから */
#fees {
  text-align: center;
}

#fees h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--dark-gray);
  font-size: 1.75rem;
  line-height: 1.29;
  margin-bottom: 20px;
}

@media(min-width:768px) {
  #fees h2 {
    font-size: 2.25rem;
    line-height: 1;
    margin-bottom: 32px;
  }
}

#fees .fees__table {
  width: 21.4375rem;
  margin: 0 auto;
  border: 3px solid var(--medium-gray);
  border-collapse: collapse;
  margin-top: 23px;
  margin-bottom: 64px;
}

#fees .fees__table th,td {
  border: 1px solid var(--medium-gray);
  height: 64px;
}
#fees .fees__table th {
  height: 64px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--dark-gray);
  font-size: 1rem;
  line-height: 2.25;
  background-color: var(--light-background);
}
#fees .fees__highlight {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--pink);
  font-size: 1.75rem;
  line-height: 1.29;
}

#fees .fees__yen {
  font-size: 1rem;
  line-height: 2.25;
}

@media(min-width:768px) {
  #fees .fees__table {
    width: 600px;
    margin-top: 35px;
    margin-bottom: 72px;
  }
  #fees .fees__table th {
    font-size: 1.125rem;
    line-height: 2;
  }
  #fees .fees__highlight {
    font-size: 2rem;
    line-height: 1.125;
  }
  #fees .fees__yen {
    font-size: 1.125rem;
    line-height: 2;
  }
}
/* #fees ここまで */

.entry-last-margin {
  margin-bottom: 0;
}

#info .info__wrapper {
  display: flex;
  flex-direction: column;
  gap: 0;
}

#info .info__photo-01,#info .info__photo-02 {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  height: 170px;
}
#info .info__photo-01::after {
  position: absolute;
  display: block;
  width: 100%;
  content: "";
  aspect-ratio: 375 / 170;
  background-image: url('../image/info_photo_01_sp.png');
  background-size: cover;
}

#info .info__photo-02::after {
  position: absolute;
  display: block;
  width: 100%;
  content: "";
  aspect-ratio: 375 / 170;
  background-image: url('../image/info_photo_02_sp.png');
  background-size: cover;
}

#info .info__content {
  position: relative;
  width: 100%;
}

#info .info__title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 1rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.375rem;
  line-height: 1.27;
  color: var(--white);
}

@media(min-width:768px) {
  #info .info__wrapper {
    flex-direction: row;
  }
  #info .info__photo-01,#info .info__photo-02 {
    max-width: 960px;
    height: 320px;
  }
  #info .info__photo-01::after {
    aspect-ratio: 960 / 320;
    background-image: url('../image/info_photo_01_pc.png');
    transition: all .3s ease-out;
  }
  #info .info__photo-02::after {
    aspect-ratio: 960 / 320;
    background-image: url('../image/info_photo_02_pc.png');
    transition: all .3s ease-out;
  }
  #info .info__photo-01:hover::after,#info .info__photo-02:hover::after {
    opacity: .7;
    transform: scale(1.2);
  }

  #info .info__content {
    width: 50%;
  }
  #info .info__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    line-height: 1.125;
  }
}
/* #info ここまで*/
/* main-content ここまで */

/* #footer ここから */
#footer {
  text-align: center;
  background-color: var(--light-gray);
  height: 83px;
  position: relative;
}

#footer p {
  display: inline-block;
  width: 328px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8125rem;
  line-height: 2.15;
  color: var(--dark-gray);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media(min-width:768px) {
  #footer {
    height: 100px;
  }
}
/* #footer ここまで */
