@charset "UTF-8";

/* 共通 ここから */
:root {
  --white: #FFFFFF;
  --light-gray: #DDDDDD;
  --dark-gray: #333333;
  --medium-gray: #CCCCCC;
  --pink: #F23397;
  --light-background: #F5F5F5;
  --light-background-alt: #F5F5F5;
  --bright-pink: #F11F8D;
  --blue: #005BAC;
  --black-opacity: #00000029;
  --light-pink: #FF5555;
  --bright-blue: #0271E0;
  --soft-blue: #53A2F0;
  --very-light-blue: #F2F9FF;
  --light-gray-alt: #F0F0F0;
  --dark-gray-opacity: #33333380;
  --teal: #3AC8AD;
  --orange: #F6AA00;
  --green: #77CB33;
  --st-anchor-active-primary-color:  #009EF7;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
  width: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: var(--dark-gray);
  letter-spacing: 0;
  line-height: 1.75;
  background-color: var(--white);
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

a {
  text-decoration:none;
}
ul {
  list-style: none;
}

.sp_only {
  display: inline-block;
}
.pc_only {
  display: none;
}

.container {
  width: calc(100% - 2rem);
  margin: 0 auto;
  height: 100%;
}

@media(min-width:768px) {
  .sp_only {
    display: none;
  }
  .pc_only {
    display: block;
  }
  .container {
    width: 75rem;
    margin: 0 auto;
  }
}

@media(min-width:768px) and (max-width:1300px){
  .container {
    width: calc(100% - 2.5rem);
    margin: 0 auto;
  }
}
/* 共通 ここまで */

/* #header ここから */

#header {
  width: 100%;
  position: sticky;
  z-index: 100;
  top: 0;
  height: 4.375rem;
  background-color: var(--white);
  box-shadow: 0px 2px 8px var(--black-opacity);
}


@media(min-width: 768px) {
  #header {
    height: 6.3125rem;
  }
}


#header .header__logo {
  width: 10.375rem;
  aspect-ratio: 166 / 34;
}


@media(min-width: 768px) {
  #header .header__logo {
    width: 16.5rem;
    height: 3rem;
    aspect-ratio: 241 / 45;
    padding-left: 1.3rem;
  }
}

@media(max-width: 767px) {
  #header #menu {
    display: block;
    position: fixed;
    z-index: 1000;
    top: 4.375rem;
    right: -120%;
    width: 100%;
    height: 20.6875rem;
    background-color: var(--blue);
    transition: right 0.2s ease-in-out; /* スライドアニメーションを追加 */
  }
  #header #menu.panelactive {
    right: 0;
  }
  #header #menu.panelinactive {
    right: -120%;
  }
  #header #menu li {
    padding-top: 1.25rem;
    padding-bottom: 1.3125rem;
    width: 89.33%;
    margin: 0 auto;
    border-bottom: var(--white) 1px solid;
  }
  #header #menu li a {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.125rem;
    color: var(--white);
    line-height: 1.44;
  }
  #header #menu li svg {
    margin-right: 0.75rem;
  }
  header #menu .menu__button {
    width: 93.33%;
    height: 4.125rem;
    display: block;
    background-color: var(--white);
    color: var(--blue);
    border-radius: 33px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.44;
    text-align: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin: 2rem auto;
  }
  #header .openbtn {
    position: fixed;
    z-index: 1001;
    background: var(--blue);
    cursor: pointer;
    width: 4.375rem;
    height: 4.375rem;
    right: 0;
    top: 0;
    padding-top: 1.375rem;
    padding-left: 1.25rem;
  }
}
@media(min-width:768px) and (max-width:1299px) {
  #header #menu ul li a {
    cursor: pointer;
    display: block;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.65rem;
    line-height: 1.8;
    color: var(--dark-gray);
  }
  #header #menu .menu__button {
    cursor: pointer;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.8;
    background: transparent linear-gradient(90deg, var(--bright-blue) 0%, var(--soft-blue) 100%) 0% 0% no-repeat padding-box;
    border-radius: 31px;
    color: var(--white);
    transition: all .3s;
    height: 3.8125rem;
    width: 12.625rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
    #header #menu .menu__button:hover {
    opacity: 0.7;
  }
  #header .header__menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.25rem;
    margin-top: 5%;
    gap: 3vw;
  }
  #header .header__menu-container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
  }
}
@media(min-width:1300px) {
  #header #menu ul li a {
    cursor: pointer;
    display: block;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 1.8;
    color: var(--dark-gray);
  }
  #header #menu .menu__button {
    cursor: pointer;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 1.8;
    background: transparent linear-gradient(90deg, var(--bright-blue) 0%, var(--soft-blue) 100%) 0% 0% no-repeat padding-box;
    border-radius: 31px;
    color: var(--white);
    transition: all .3s;
    height: 3.8125rem;
    width: 17.625rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
    #header #menu .menu__button:hover {
    opacity: 0.7;
  }
  #header .header__menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    height: 100%;
    margin-left: 9.875rem;
  }
  #header .header__menu-container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }
}

#header #menu ul li a:hover {
  color: var(--blue);
}

#header .header__container {
  display: flex;
}

#header .header__title {
  margin-top: auto;
  margin-bottom: auto;
}
/* #header ここまで */

/* .main-visual ここから */
@media(max-width:767px) {
  #main-visual .main-visual__photo {
    background-image: url('../image/mainVisual_sp.png');
    width: 100%;
    height: auto;
    aspect-ratio: 375 / 250;
    background-size: cover;
    background-position: 100% 100%;
  }

  #main-visual .main-visual__achievement-container {
    width: 9.2031rem;
    height: 4.2906rem;
  }

  #main-visual .main-visual__laurel-left {
    background-image: url('../image/mv_frame_left_sp.png');
    width: 1.5044rem;
    aspect-ratio: 24.07 / 68.65;
    background-size: cover;
  }

  #main-visual .main-visual__laurel-right {
    background-image: url('../image/mv_frame_right_sp.png');
    width: 1.5044rem;
    aspect-ratio: 24.07 / 68.65;
    background-size: cover;
  }
  #main-visual .university-achievement {
    margin: 0;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.6875rem;
    line-height: 1.45;
    color: var(--dark-gray);
  }
  #main-visual .ranking {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 1.5625rem;
    line-height: 1.5;
    color: var(--bright-pink);
  }
  #main-visual .ranking-number {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 2.25rem;
    line-height: 1.5;
    color: var(--bright-pink);
  }
  #main-visual .main-visual__guide-text h3 {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.875rem;
    line-height: 2.57;
    color: var(--dark-gray);
    margin-bottom: -0.5rem;
  }
  #main-visual .main-visual__guide-text h4 {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.5625rem;
    line-height: 1.4;
    color: var(--blue);
  }
  #main-visual .main-visual__achievement-text {
    width: 6.1875rem;
    height: 4.1875rem;
  }
  #main-visual .main-visual__photo {
    position: relative;
  }
  #main-visual .university-achievement {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 2.5rem;
    margin-top: 2.1875rem;
  }
  #main-visual .ranking {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 3.8125rem;
    margin-top: 3.1875rem;
  }
  #main-visual .main-visual__laurel-left {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1rem;
    margin-top: 2.125rem;
  }

  #main-visual .main-visual__laurel-right {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 8.6988rem;
    margin-top: 2.125rem;
  }

  #main-visual .main-visual__guide-text h3 {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1rem;
    margin-top: 7.3rem;
  }
  #main-visual .main-visual__guide-text h4 {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1rem;
    margin-top: 8.8938rem;
  }
  #main-visual .main-visual__buttons {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-bottom: -12rem;
    margin-left: auto;
    margin-right: auto;
  }
  #main-visual .main-visual__buttons {
    margin-top: 1.5rem;
    display: flex;
    gap: 0.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #main-visual .main-visual__buttons a {
    display: inline-block;
    cursor: pointer;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    line-height: 2.25;
    color: var(--white);
    width: 15.625rem;
    height: 3rem;
    text-align: center;
    padding-top: 0.375rem;
    border-radius: 1.5625rem;
    transition: all .3s;
  }

  #main-visual .main-visual__buttons a:hover {
    opacity: 0.7;
  }

  #main-visual .main-visual__buttons a.main-visual__buttons-inquiry {
    background-color: var(--green);
  }

  #main-visual .main-visual__buttons a.main-visual__buttons-freetrial {
    background-color: var(--orange);
  }

  #main-visual .main-visual__buttons a.main-visual__buttons-request {
    background-color: var(--teal);
  }
}

@media(min-width:1460px) {
  #main-visual .main-visual__photo {
    background-image: url('../image/mainVisual_pc.png');
    width: 100%;
    height: 40.6875rem;
    aspect-ratio: 1920 / 651;
    background-size: cover;
    background-position: top;
  }
  #main-visual .main-visual__laurel-left {
    background-image: url('../image/mv_frame_left_pc.png');
    width: 3.2875rem;
    aspect-ratio: 52.6 / 150;
    background-size: cover;
  }
  #main-visual .main-visual__laurel-right {
    background-image: url('../image/mv_frame_right_pc.png');
    width: 3.2875rem;
    aspect-ratio: 52.6 / 150;
    background-size: cover;
  }
  #main-visual .main-visual__achievement-text {
    width: 11.25rem;
    height: 8.3125rem;
  }
  #main-visual .university-achievement {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 1.45;
    color: var(--dark-gray);
  }
  #main-visual .ranking {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 3.375rem;
    line-height: 1.5;
    color: var(--bright-pink);
  }
  #main-visual .ranking-number {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 4.625rem;
    line-height: 1.5;
    color: var(--bright-pink);
  }
  #main-visual .main-visual__guide-text h3 {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.0625rem;
    line-height: 1.09;
    color: var(--dark-gray);
  }
  #main-visual .main-visual__guide-text h4 {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 3.75rem;
    line-height: 1.42;
    color: var(--blue);
  }
  #main-visual .main-visual__photo {
    position: relative;
  }
  #main-visual .university-achievement {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 30.1625rem;
    margin-top: 7.0625rem;
  }
  #main-visual .ranking {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 32.35rem;
    margin-top: 8.875rem;
  }
  #main-visual .main-visual__laurel-left {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 25.625rem;
    margin-top: 6.5rem;
  }

  #main-visual .main-visual__laurel-right {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 42.6625rem;
    margin-top: 6.5rem;
  }

  #main-visual .main-visual__guide-text h3 {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 25.625rem;
    margin-top: 18.5rem;
  }
  #main-visual .main-visual__guide-text h4 {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 25.625rem;
    margin-top: 21rem;
  }
  #main-visual .main-visual__buttons {
    flex-direction: row;
    margin-top: 0;
    gap: 2.5rem;
    width: 68.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #main-visual .main-visual__buttons {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-bottom: -2.3438rem;
    margin-left: auto;
    margin-right: auto;
  }
  #main-visual .main-visual__buttons a {
    display: inline-block;
    cursor: pointer;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.5;
    color: var(--white);
    width: 21.25rem;
    height: 4.6875rem;
    text-align: center;
    padding-top: 1.25rem;
    padding-left: 3.975rem;
    padding-right: 3.975rem;
    white-space: nowrap;
    border-radius: 2.375rem;
    transition: all .3s;
  }
  #main-visual .main-visual__buttons a:hover {
    opacity: 0.7;
  }

  #main-visual .main-visual__buttons a.main-visual__buttons-inquiry {
    background-color: var(--green);
  }

  #main-visual .main-visual__buttons a.main-visual__buttons-freetrial {
    background-color: var(--orange);
  }

  #main-visual .main-visual__buttons a.main-visual__buttons-request {
    background-color: var(--teal);
  }
  #main-visual .main-visual__buttons-container {
    width: 75rem;
    margin: 0 auto;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
  }
}

@media(min-width:768px) and (max-width:1459px) {
  #main-visual .main-visual__photo {
    background-image: url('../image/mainVisual_pc.png');
    width: 100%;
    height: 40.6875rem;
    aspect-ratio: 1920 / 651;
    background-size: cover;
    background-position: top;
  }
  #main-visual .main-visual__laurel-left {
    background-image: url('../image/mv_frame_left_pc.png');
    width: 3.2875rem;
    aspect-ratio: 52.6 / 150;
    background-size: cover;
  }
  #main-visual .main-visual__laurel-right {
    background-image: url('../image/mv_frame_right_pc.png');
    width: 3.2875rem;
    aspect-ratio: 52.6 / 150;
    background-size: cover;
  }
  #main-visual .main-visual__achievement-text {
    width: 11.25rem;
    height: 8.3125rem;
  }
  #main-visual .university-achievement {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 1.45;
    color: var(--dark-gray);
  }
  #main-visual .ranking {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 3.375rem;
    line-height: 1.5;
    color: var(--bright-pink);
  }
  #main-visual .ranking-number {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 4.625rem;
    line-height: 1.5;
    color: var(--bright-pink);
  }
  #main-visual .main-visual__guide-text h3 {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.0625rem;
    line-height: 1.09;
    color: var(--dark-gray);
  }
  #main-visual .main-visual__guide-text h4 {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 3.75rem;
    line-height: 1.42;
    color: var(--blue);
  }
  #main-visual .main-visual__photo {
    position: relative;
  }
  #main-visual .university-achievement {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: calc(30.1625rem - 25.625rem + 1.25rem);
    margin-top: 7.0625rem;
  }
  #main-visual .ranking {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: calc(32.35rem - 25.625rem + 1.25rem);
    margin-top: 8.875rem;
  }
  #main-visual .main-visual__laurel-left {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: calc(25.625rem - 25.625rem + 1.25rem);
    margin-top: 6.5rem;
  }

  #main-visual .main-visual__laurel-right {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: calc(42.6625rem - 25.625rem + 1.25rem);
    margin-top: 6.5rem;
  }

  #main-visual .main-visual__guide-text h3 {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: calc(25.625rem - 25.625rem + 1.25rem);
    margin-top: 18.5rem;
  }
  #main-visual .main-visual__guide-text h4 {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: calc(25.625rem - 25.625rem + 1.25rem);
    margin-top: 21rem;
  }
  #main-visual .main-visual__buttons {
    flex-direction: row;
    margin-top: 0;
    gap: 2.5vw;
    width: 68.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #main-visual .main-visual__buttons {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-bottom: -2.3438rem;
    margin-left: auto;
    margin-right: auto;
  }
  #main-visual .main-visual__buttons a {
    display: inline-block;
    cursor: pointer;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--white);
    width: 23.7%;
    height: 4.3875rem;
    text-align: center;
    padding-top: 1.25rem;
    border-radius: 2.375rem;
    transition: all .3s;
  }
  #main-visual .main-visual__buttons a:hover {
    opacity: 0.7;
  }

  #main-visual .main-visual__buttons a.main-visual__buttons-inquiry {
    background-color: var(--green);
  }

  #main-visual .main-visual__buttons a.main-visual__buttons-freetrial {
    background-color: var(--orange);
  }

  #main-visual .main-visual__buttons a.main-visual__buttons-request {
    background-color: var(--teal);
  }
}
/* .main-visual ここまで */

/* #reaeson ここから */
#reason {
  margin-top: 13.5rem;
}

@media(min-width:768px){
  #reason {
    margin-top: 6.8125rem;
  }
}

#reason .reason__container {
  padding-top: 0.5rem;
}

#reason h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.75rem;
  line-height: 1.29;
  text-align: center;
  color: var(--dark-gray);
}

#reason h2 .reason__three {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: .9;
  color: var(--bright-pink);
}

@media (min-width: 768px) {
  #reason h2 {
    font-size: 2.25rem;
    line-height: 1;
  }
  #reason h2 .reason__three {
    font-size: 3.375rem;
    line-height: .67;
  }
}
#reason .reason__wrapper {
  margin-top: 1.0625rem;
}

#reason .reason__wrapper img.sp_only {
  width: 21.4375rem;
  height: 13.75rem;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 343 / 220;
  border-radius: 0.75rem;
}

#reason .reason__wrapper h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--bright-pink);
  margin-top: 0.5rem;
}

#reason .reason__wrapper .reason__title-number {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 2.25rem;
  line-height: 1;
  color: var(--bright-pink);
}

#reason .reason__wrapper h4 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 0.75rem;
}
#reason .reason__wrapper p {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.75;
  text-align: left;
}

#reason .reason__text-wrapper {
  width: 100%;
  margin-bottom: 2.25rem;
  display: inline-block;
  vertical-align: top;
}

@media(max-width:767px) {
  #reason h2 {
    margin-bottom: 1.0625rem;
  }
  #reason .reason__content-01 img.sp_only {
    margin-top: 0.625rem;
  }
  #reason .reason__content-02 img.sp_only {
    margin-top: 0;
  }
  #reason .reason__content-03 img.sp_only {
    margin-top: 0;
  }
  #reason .reason__wrapper p {
    margin-top: 0.75rem;
  }
  #reason .reason__wrapper img.sp_only {
    display: block;
    margin: 0 auto;
  }
}

@media(min-width:1400px) {
  #reason .reason__container {
    width: 75rem;
    margin: 0 auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1rem;
  }
  #reason .reason__wrapper {
    margin-top: 2rem;
    padding-top: 2rem;
  }

  #reason .reason__wrapper .reason__text-wrapper p {
    margin-top: 1rem;
  }

  #reason .reason__wrapper .reason__text-wrapper {
    margin-top: 0;
  }

  #reason .reason__content-01  img.pc_only {
    margin-bottom: 0;
    margin-top: -0.625rem;
  }

  #reason .reason__content-02 .reason__text-wrapper {
    margin-top: 0.625rem;
  }

  #reason .reason__content-03 .reason__text-wrapper {
    margin-top: 0.625rem;
  }

  #reason .reason__wrapper img.pc_only {
    width: 35rem;
    aspect-ratio: 560 / 346;
    background-size: cover;
    background-position: center;
  }
  #reason .reason__wrapper h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    text-align: left;
    font-size: 1.75rem;
    line-height: 1.29;
    color: var(--bright-pink);
    margin: 0;
    padding: 0;
  }

  #reason .reason__wrapper .reason__title-number {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2.625rem;
    line-height: .86;
    color: var(--bright-pink);
  }
  #reason .reason__wrapper h4 {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.75;
    text-align: left;
    margin: 0;
    padding: 0;
  }
  #reason .reason__wrapper p {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.75;
    text-align: left;
  }
  #reason .reason__text-wrapper {
    width: 35rem;
  }
  #reason .reason_content-wrapper {
    margin-bottom: 3rem;
  }
  #reason .reason__flexbox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2.5rem;
  }
  #reason .reason__flexbox-reverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2.5rem;
  }
}

@media(min-width:768px) and (max-width:1399px) {
  #reason .reason__wrapper {
    margin-top: 1.8rem;
  }

  #reason .reason__wrapper img.pc_only {
    width: 100%;
    aspect-ratio: 560 / 346;
    background-size: cover;
    background-position: center;
  }
  #reason .reason__wrapper h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    text-align: left;
    font-size: 1.75rem;
    line-height: 1.29;
    color: var(--bright-pink);
  }

  #reason .reason__wrapper .reason__title-number {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2.625rem;
    line-height: .86;
    color: var(--bright-pink);
  }
  #reason .reason__wrapper h4 {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.75;
  }
  #reason .reason__wrapper p {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.75;
    text-align: left;
  }
  #reason .reason__text-wrapper {
    width: 100%;
  }
  #reason .reason_content-wrapper {
    margin-bottom: 3rem;
  }
  #reason .reason__flexbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20.8%;
  }
  #reason .reason__flexbox-reverse {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20.8%;
  }
}
/* #reaeson ここまで */

/* .entry ここから */
.entry {
  width: 100%;
  background-color: rgba(255, 85, 85, 0.1); /* 10%の不透明度 */
  text-align: center;
}
.entry__container {
  width: calc(100% - 2rem);
  margin: 0 auto 2.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.entry p {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--dark-gray);
  font-size: 1rem;
  line-height: 1.75;
}

.entry a {
  cursor: pointer;
  display: inline-block;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.8;
  width: 19.0625rem;
  height: 4.3125rem;
  background: transparent linear-gradient(90deg, var(--bright-blue) 0%, var(--soft-blue) 100%) 0% 0% no-repeat padding-box;
  border-radius: 2.1875rem;
  color: var(--white);
  text-align: center;
  transition: all .3s;
  margin-top: 0.75rem;
  padding-top: 1rem;
}
@media(min-width:1300px) {
  .entry__container {
    width: 75rem;
    margin: 4.5rem auto 4.5rem;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
  .entry a {
    width: 22.5rem;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-top: 1.25rem;
    padding-left: 4.4375rem;
    padding-right: 4.4375rem;
    border-radius: 2.375rem;
    white-space: nowrap;
    height: 4.6875rem;
  }

  .entry a:hover {
    opacity: .7;
  }
}

@media(min-width:768px) and (max-width:1299px) {
  .entry__container {
    width: calc(100% - 2.5rem);
    margin: 0 auto 4.5rem;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
  .entry a {
    width: 22.5rem;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-top: 1.25rem;
    padding-left: 4.4375rem;
    padding-right: 4.4375rem;
    border-radius: 2.375rem;
    white-space: nowrap;
    height: 4.6
  .entry a:hover {
    opacity: .7;
  }
}
/* .entry ここまで */